* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
    height: 100px;
    background: #f1f1f1;
}

.push {
	height: 100px; /* .push must be the same height as .footer */
}

/*
footer {
    font-family: 'Roboto', 'Roboto Condensed', 'Lato', sans-serif;
    margin-top: px;
    background: #f1f1f1;
    background: rgba(f1f1f1);
}

footer p {
    margin: 0;
    padding: 50px 0;
}